header {

  width: min(100%, 100%);
  border: 0;
  padding: 0;
  margin: 0;

}

.container1 {
  background-color: #d13f00;
  display: flex;
}
.container1image, .container1header {
  display: flex;
}
.container1header {
  color: white;
  font-weight: 500;
  padding-left: 20px;
  padding-top: 10px;
}

nav {
  background-color: rgb(244, 237, 237);
  font-size: 25px;
  font-family: 'Source Sans Pro', sans-serif;
  display: flex; /* Side by side */
  justify-content: space-around; /* Always call on the same container as flex ^ */ /* Use space-around for project */     
}

nav div {
  flex: 1;
  font-weight: 300;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid grey;
}

nav a:link {
  color: rgb(5, 136, 179);
  text-decoration: none;
}

nav a:hover {
  color: #000e54;
  text-decoration: none;
}